*
{
    padding: 0px;
    margin: 0px;
}
i
{
    font-size: 100px;
    margin-bottom: 10px;
}
input
{
text-align: center;
font-size: x-large;
color: black;

}
.jk
{
    height: 70px;
    border-radius: 10px;
}
.one
{
}